<div class="magni-compose-view">
    <div class="organisations-slot"></div>
    <div class="dropdown-slot"></div>
    <a class="help-link" href="{{ crm_location }}/docs/gmail-composer">Help!</a>
</div>
