<div class="sidebar-container">
<div class="col-xs-1 sidebar" style="background-color: <%- colour %>">
    @require("./entity_glyph.jst")
</div>
<div class="sidebar-content sidebar-object">
<h2>
    <a target="_blank" href="{{ crm_location }}/#entity/<%- id %>">
        <%- name %>
    </a>
</h2>
<p class="object-details">
    <%- postcode %>
    <%- town %>
    <%- telephone %>
</p>
</div>
</div>
